* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;

}

body {
    height: 100vh;
    width: 100vw;
    background-color: #edf1fd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;

}

button {
    background-color: rgb(18, 155, 155);
    padding: 4px 10px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 600;
    width: fit-content;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

nav .logo {
    font-weight: 700;
    font-size: 30px;
    font-size:35px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
    
}

nav ul li:hover {
    text-decoration: underline;
    font-weight: 900;
    color: rgb(18, 155, 155);;
}

.search-field {
    display: flex;
    gap:35px;
}

input {
    padding: 4px;
    border-radius: 20px;
    
}

.hero-section {
    display: flex;
    align-items: center;
}

.hero-left-section {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    justify-content: space-between;
    padding: 80px;
}

.hero-left-section h1 {
    font-size: 50px;
}


.hero-left-section h1 span {
    color:rgb(18,155,155);
    font-weight:bolder;
    font-size: 3.5rem;

    
    
}

.hero-left-section p {
    font-weight: 400;
    font-size: 22px;
    line-height: normal;
    margin: 5px;
    padding: 7px;
}

.hero-left-section p span {
    font-weight: 700;
    font-size: 25px;
    color: rgb(18, 155, 155);
}

.hero-right-section {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: end;
    justify-content:space-between;
    
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
    margin-top: 14px;
    margin-right:70px;
}

.image-hero {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    text-align: right;
    justify-content: right;
}

footer {
    display: flex;
    align-items: center;
    
    padding: 20px 0;
    justify-content: space-evenly;
}

footer p {
    font-weight: 600;
}

footer ul {
    display: flex;
    gap:30px;
    align-items: center;
}

footer ul li a i:hover {
    background-color: white;
    color:crimson;
    border: black;
}